 <div class="row">
    <a href="#/admin" class="thumb"><button class="btn btn-primary" type="button">Admin</button></a>

</div>
    <div class="row">
        <div class="col-md-3" ng-repeat="pool in pools">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>{{pool.title}}</h3></div>
                <div class="panel-body"><table class="table table-striped">
                    <tr ng-repeat='option in pool.pooloptions'>
                        <td>{{ option.title }}</td>
                        <td><button class="btn btn-primary" type="button" ng-click="addVote(option)">
                            Vote <span class="badge">{{ option.vote }}</span>
                        </button></td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
 